{{!-- class="container"> --}}

<div class="jumbotron">
	<h1>Eat Da Burger!</h1>
	<br>
	<panel style="align: center;">
		<form class="create-form">
			<div class="form-group">
				<input type="text" id="newburger" name="burger">
				<button type="submit" class="btn btn-primary btn-success" id="addburger">
					<i class="icon-user icon-white"></i>Add Burger
					<!--span class="btn btn-default btn-sm"></span-->
				</button>
			</div>
		</form>
	</panel>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading" id="leftside"><strong>Burgers ready to be devoured</strong>
			</div>
			<div class="panel-body">

				<ul>
					{{#each burgers}}
					{{#unless devoured}}

					<span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
					<button type="button" class="eatburger btn btn-success" id="eatbutton" data-id="{{this.id}}"
						data-newDevoured="{{devour}}"><i class="icon-user icon-white"></i>Devour It</button>
					<hr>
					{{/unless}}
					{{/each}}
				</ul>

			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading" id="rightside"><strong>Devoured Burgers</strong>
			</div>
			<div class="panel-body">
				<ul>
					{{#each burgers}}
					{{#if devoured}}
					<span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
					<button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
						data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
					<hr>
					{{/if}}
					{{/each}}
				</ul>



			</div>
		</div>
	</div>

</div>
<!--endrow -->
</div>