{{!-- <li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}UnEat!{{else}}Eat It!{{/if}}
	</button>
	<botton class="delete-burger" data-id="{{this.id}}"></botton>
</li> --}}